<div class='countries-render-list'>

  <ul class='countries-list list-group list-group-flush'>
    {{#each this}}
      <li class='countries-item list-group-item'>{{this}}</li>
    {{/each}}
  </ul>
</div>